# PART A

**We review the guide line of the question that was specified for us**<br>
A. Build a baseline model (5 marks) <br>

Use the Keras library to build a neural network with the following:<br>

- One hidden layer of 10 nodes, and a ReLU activation function<br>

- Use the adam optimizer and the mean squared error  as the loss function.<br>

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.<br>

2. Train the model on the training data using 50 epochs.<br>

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.<br>

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.<br>

5. Report the mean and the standard deviation of the mean squared errors.

# Import library

In [75]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

# Import dataset

In [68]:
data =pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

# Preprocessing

First show numbers of rows and columns

In [69]:
data.shape

(1030, 9)

Know of detail columns for dataset

In [70]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Is there any null vlaue on dataset

In [71]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Splite target column and features columns

In [73]:
x_data=data.iloc[:,:-1].copy()
x_data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [83]:
y_data=data["Strength"]
y_data

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

# Keras modeling

Import library

In [76]:
from keras.models import Sequential
from keras.layers import Dense

For input shape of model get number of columns

In [77]:
n_clons = x_data.shape[1]
n_clons

8

Build model

In [78]:
model =Sequential()

In [79]:
model.add(Dense(10,activation='relu', input_shape=(n_clons,))) #10 nodes, and a ReLU activation function 

model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')#set he adam optimizer and the mean squared error  as the loss function.

In [80]:
mean_squared_errors=[]# list of 50 mean squared errors.
for time in range(50):#50 times,create a list of 50 mean squared errors.
    X_train , x_test , Y_trian , y_test =train_test_split(x_data,y_data,test_size=0.3,random_state=42)#split the data into a training and test sets by holding 30% of the data for testing
    Model =model.fit(X_train,Y_trian,validation_data=(x_test,y_test,),epochs=50,verbose=0)#fit model
    mean_squared_error = Model.history['val_loss'][-1]#splite of value of loss functions
    mean_squared_errors.append(mean_squared_error)#add value of mean squared error for this time into list
    print('time {} and mean squared error is {}'.format(time+1,mean_squared_error))#print time and error for model

time 1 and mean squared error is 106.4740982055664
time 2 and mean squared error is 70.13870239257812
time 3 and mean squared error is 55.93233108520508
time 4 and mean squared error is 54.599525451660156
time 5 and mean squared error is 54.138980865478516
time 6 and mean squared error is 56.52051544189453
time 7 and mean squared error is 50.259849548339844
time 8 and mean squared error is 51.17454147338867
time 9 and mean squared error is 51.456520080566406
time 10 and mean squared error is 49.364009857177734
time 11 and mean squared error is 53.46737289428711
time 12 and mean squared error is 48.8300666809082
time 13 and mean squared error is 48.94189453125
time 14 and mean squared error is 56.68682861328125
time 15 and mean squared error is 49.96230697631836
time 16 and mean squared error is 50.24228286743164
time 17 and mean squared error is 49.077964782714844
time 18 and mean squared error is 50.41879653930664
time 19 and mean squared error is 50.42300796508789
time 20 and mean squared error is 50.70487976074219
time 21 and mean squared error is 51.414310455322266
time 22 and mean squared error is 49.680850982666016
time 23 and mean squared error is 48.96116638183594
time 24 and mean squared error is 49.61756896972656
time 25 and mean squared error is 49.49128341674805
time 26 and mean squared error is 49.100189208984375
time 27 and mean squared error is 50.34742736816406
time 28 and mean squared error is 52.00143051147461
time 29 and mean squared error is 51.38250732421875
time 30 and mean squared error is 48.31086349487305
time 31 and mean squared error is 49.34675979614258
time 32 and mean squared error is 50.39531326293945
time 33 and mean squared error is 54.63262176513672
time 34 and mean squared error is 50.59381866455078
time 35 and mean squared error is 46.705810546875
time 36 and mean squared error is 46.663536071777344
time 37 and mean squared error is 46.944244384765625
time 38 and mean squared error is 48.27486801147461
time 39 and mean squared error is 56.38042449951172
time 40 and mean squared error is 48.1240119934082
time 41 and mean squared error is 48.80856704711914
time 42 and mean squared error is 47.22369384765625
time 43 and mean squared error is 47.470436096191406
time 44 and mean squared error is 49.1439094543457
time 45 and mean squared error is 48.552520751953125
time 46 and mean squared error is 46.583091735839844
time 47 and mean squared error is 50.63901138305664
time 48 and mean squared error is 49.92665100097656
time 49 and mean squared error is 47.7667121887207
time 50 and mean squared error is 47.305267333984375

Report the mean and the standard deviation of the mean squared errors

In [81]:
print('This is mean of mean squared of model : {}'.format(np.mean(mean_squared_errors)))
print('This is standard deviation of mean squared of model : {}'.format(np.std(mean_squared_errors)))

This is mean of mean squared of model : 51.812066879272464
This is standard deviation of mean squared of model : 8.681670339941418