# PART D

D. Increase the number of hidden layers (5 marks)<br>

Repeat part B but use a neural network with the following instead:<br>

- Three hidden layers, each of 10 nodes and ReLU activation function.<br>

How does the mean of the mean squared errors compare to that from Step B?

# Import libraries

In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

# Import dataframe

In [2]:
data =pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

# Preprocessing

First show numbers of rows and columns

In [3]:
data.shape

(1030, 9)

Know of detail columns for dataset

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Is there any null vlaue on dataset

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Let Normalized data

data is by subtracting the mean from the individual predictors and dividing by the standard deviation

In [6]:
data_norm = (data - data.mean()) / data.std()
data_norm

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597,2.644123
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597,1.560663
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340,0.266498
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221,0.313188
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069,0.507732
...,...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597,0.506535
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597,-0.277627
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597,-0.725377
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597,-0.182450
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597,-0.204598

Splite target column and features columns

In [7]:
x_data=data_norm.iloc[:,:-1].copy()
x_data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

In [8]:
y_data=data_norm["Strength"]
y_data

0       2.644123
1       1.560663
2       0.266498
3       0.313188
4       0.507732
          ...
1025    0.506535
1026   -0.277627
1027   -0.725377
1028   -0.182450
1029   -0.204598
Name: Strength, Length: 1030, dtype: float64

# Keras modeling

Import library

In [9]:
from keras.models import Sequential
from keras.layers import Dense

For input shape of model get number of columns

In [10]:
n_clons = x_data.shape[1]
n_clons

8

Build model

In [11]:
model =Sequential()
model.add(Dense(10,activation='relu', input_shape=(n_clons,))) # add 3 hidden layers, each of 10 nodes and ReLU activation function. 
model.add(Dense(10,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')#set he adam optimizer and the mean squared error  as the loss function.

In [13]:
mean_squared_errors=[]# list of 50 mean squared errors.
for time in range(50):#50 times,create a list of 50 mean squared errors.
    X_train , x_test , Y_trian , y_test =train_test_split(x_data,y_data,test_size=0.3,random_state=42)#split the data into a training and test sets by holding 30% of the data for testing
    Model =model.fit(X_train,Y_trian,validation_data=(x_test,y_test,),epochs=50,verbose=0)#fit model
    mean_squared_error = Model.history['val_loss'][-1]#splite of value of loss functions
    mean_squared_errors.append(mean_squared_error)#add value of mean squared error for this time into list
    print('time {} and mean squared error is {}'.format(time+1,mean_squared_error))#print time and error for model

time 1 and mean squared error is 0.1389254778623581
time 2 and mean squared error is 0.14268767833709717
time 3 and mean squared error is 0.14147624373435974
time 4 and mean squared error is 0.14129406213760376
time 5 and mean squared error is 0.14240410923957825
time 6 and mean squared error is 0.1450442671775818
time 7 and mean squared error is 0.14283815026283264
time 8 and mean squared error is 0.14511738717556
time 9 and mean squared error is 0.145898699760437
time 10 and mean squared error is 0.14117027819156647
time 11 and mean squared error is 0.14691664278507233
time 12 and mean squared error is 0.14332245290279388
time 13 and mean squared error is 0.13874560594558716
time 14 and mean squared error is 0.1356743425130844
time 15 and mean squared error is 0.13690797984600067
time 16 and mean squared error is 0.13894133269786835
time 17 and mean squared error is 0.14378014206886292
time 18 and mean squared error is 0.1420019567012787
time 19 and mean squared error is 0.14308077096939087
time 20 and mean squared error is 0.14395380020141602
time 21 and mean squared error is 0.14480449259281158
time 22 and mean squared error is 0.14126361906528473
time 23 and mean squared error is 0.14408206939697266
time 24 and mean squared error is 0.14238303899765015
time 25 and mean squared error is 0.1400437206029892
time 26 and mean squared error is 0.14137287437915802
time 27 and mean squared error is 0.14390690624713898
time 28 and mean squared error is 0.14148342609405518
time 29 and mean squared error is 0.1427079290151596
time 30 and mean squared error is 0.14654888212680817
time 31 and mean squared error is 0.1395796537399292
time 32 and mean squared error is 0.14502640068531036
time 33 and mean squared error is 0.14135047793388367
time 34 and mean squared error is 0.13582204282283783
time 35 and mean squared error is 0.13992346823215485
time 36 and mean squared error is 0.1378137767314911
time 37 and mean squared error is 0.13557401299476624
time 38 and mean squared error is 0.13544541597366333
time 39 and mean squared error is 0.13250409066677094
time 40 and mean squared error is 0.1343649923801422
time 41 and mean squared error is 0.1329767107963562
time 42 and mean squared error is 0.1367688924074173
time 43 and mean squared error is 0.13300763070583344
time 44 and mean squared error is 0.13424277305603027
time 45 and mean squared error is 0.13115860521793365
time 46 and mean squared error is 0.13296721875667572
time 47 and mean squared error is 0.13119511306285858
time 48 and mean squared error is 0.13420158624649048
time 49 and mean squared error is 0.13570544123649597
time 50 and mean squared error is 0.13327541947364807

In [14]:
print('This is mean of mean squared of model : {}'.format(np.mean(mean_squared_errors)))
print('This is standard deviation of mean squared of model : {}'.format(np.std(mean_squared_errors)))

This is mean of mean squared of model : 0.13963364124298094
This is standard deviation of mean squared of model : 0.004425020752043336

# How does the mean of the mean squared errors compare to that from Step B?

Although we added hidden layers, in this model, the average errors compared to part B not only did not decrease, but also increased.